%h1 Listing letters

%table.table.table-striped
  %tr
    %th Text
    %th Actions

  - @letters.each do |letter|
    %tr
      %td= letter.text
      %td
        %a= link_to 'Show', letter
        %a= link_to 'Edit', edit_letter_path(letter)
        %a= link_to 'Destroy', letter, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Letter', new_letter_path
