%h1 Listing letters

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @letters.each do |letter|
    %tr
      %td= letter.text
      %td= link_to 'Show', letter
      %td= link_to 'Edit', edit_letter_path(letter)
      %td= link_to 'Destroy', letter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Letter', new_letter_path
