= bootstrap_form_for @supporter, url: supporters_path do |f|
  - if @supporter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@supporter.errors.count, "error")} prohibited this supporter from being saved:"
      %ul
        - @supporter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, placeholder: "John Doe", :autofocus => true
  .field
    = f.text_field :email, placeholder: "someone@example.com"
  .field
    = f.text_field :phone, placeholder: "123-456-7890"
  .actions
    = f.submit 'Save'
