%h3= @supporters.count ? pluralize(@supporters.count, "Supporter") : "No Supporters"

%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Phone

  - @supporters.each do |supporter|
    %tr
      %td= supporter.name
      %td= supporter.email
      %td= number_to_phone(supporter.phone)

%br

= link_to 'New Supporter', new_supporter_path, class: 'btn btn-default'
= link_to 'Import contacts from GMail', '/contacts/gmail', class: 'btn btn-default'
