- if @supporters.empty?
  .row
    .col-md-6.col-md-offset-3
      %div{class:"alert alert-warning",id:"addsupporters"}
        %p
          You don't yet have anyone in your list.  Please add a supporter or import contacts from GMail.

%h3= @supporters.count ? pluralize(@supporters.count, "Supporter") : "No Supporters"

%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Phone
    %th Actions

  - @supporters.each do |supporter|
    %tr
      %td= supporter.name
      %td= supporter.email
      %td= number_to_phone(supporter.phone)
      %td.actions
        %a= link_to 'Edit', edit_supporter_path(supporter) 
        \|
        %a= link_to "Remove", supporter_path(supporter), method: :delete

%br

= link_to 'New Supporter', new_supporter_path, class: 'btn btn-success'
= link_to 'Import contacts from GMail', '/contacts/gmail', class: 'btn btn-default'
