!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'MailSafe'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'MailSafe'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      -if user_signed_in?
        = render 'layouts/navigation'
      -else
        = render 'layouts/navigation_public'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        = yield